body {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
    width: 100%;
    overflow: auto;
}

body .rows-body {
    padding: 2% 5%;
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0 0 10px;
    color: #f0f0f0;
    font-weight: 300;
    text-align: center;
}

.btn {
    margin-left: 4px;
}
